<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @common_currency %>

    <%= link_to t('.edit'), edit_common_currency_path(@common_currency), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t('.back'), common_currencies_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to t('.destroy'), @common_currency, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
