<div class="flex items-center justify-center w-full">
  <div class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed
                      rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex flex-col items-center justify-center pt-5 pb-6">
      <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
           xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-6 5h6m-6 4h6M10
                         3v4h4V3h-4Z"/>
      </svg>
      <p class="mb-2 text-lg font-semibold text-gray-500 dark:text-gray-400">
        No hay registros de historial
      </p>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Registra cambios y eventos relacionados con este activo
      </p>
    </div>
  </div>
</div>
