<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing measure unit</h1>

  <%= render "form", common_measure_unit: @common_measure_unit %>

  <%= link_to "Show this measure unit", @common_measure_unit, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to measure units", common_measure_units_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
