<div class="border-b border-gray-200 dark:border-gray-700">
  <ul id="plan-tabs" data-tabs-toggle="#tab-content" role="tablist"
      class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
    <li class="me-2">
      <a href="#" id="general-tab" data-tabs-target="#general" role="tab" aria-controls="general"
         aria-selected="true"
         class="inline-flex items-center justify-center p-4 border-b-2 border-blue-600 rounded-t-lg
                        hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        <svg class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500
                            dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>
        General
      </a>
    </li>
    <li class="me-2">
      <a href="#" id="resources-tab" data-tabs-target="#resources" role="tab" aria-controls="resources"
         aria-selected="false"
         class="inline-flex items-center justify-center p-4 border-b-2 border-blue-600 rounded-t-lg
                        hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        <svg class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500
                            dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0
                           0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0
                           0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1
                           1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535
                           1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414
                           0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z"/>
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
        </svg>
        Recursos
      </a>
    </li>
    <li class="me-2">
      <a href="#" id="tasks-tab" data-tabs-target="#tasks" role="tab" aria-controls="tasks"
         aria-selected="false"
         class="inline-flex items-center justify-center p-4 border-b-2 border-blue-600 rounded-t-lg
                        hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        <svg class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500
                            dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12
                   16h3m-6 0h.01M10 3v4h4V3h-4Z"/>
        </svg>
        Tareas
      </a>
    </li>
    <li class="me-2">
      <a href="#" id="schedule-tab" data-tabs-target="#schedule" role="tab" aria-controls="schedule"
         aria-selected="false"
         class="inline-flex items-center justify-center p-4 border-b-2 border-blue-600 rounded-t-lg
                        hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        <svg class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500
                            dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1
                   1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4
                   0h.01v.01H16V17Z"/>
        </svg>
        Programación
      </a>
    </li>
  </ul>
</div>
