<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-2 xl:gap-4 dark:bg-gray-900">
  <div class="mb-4 col-span-full xl:mb-2">
    <%= render 'shared/breadcrumb', pages: { 'Mantenimiento': '#',
                                             'Activos': maintenance_assets_path,
                                             'Nuevo activo': '#' } %>
    <div class="flex items-center space-x-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
        Nuevo activo
      </h1>
    </div>
  </div>

  <div class="col-span-2">
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6
                dark:bg-gray-800">
      <%= render "form", maintenance_asset: @maintenance_asset %>
    </div>
  </div>
</div>
