<div class="sticky bottom-0 right-0 items-center w-full p-4 bg-white border-t border-gray-200 sm:flex sm:justify-between
            dark:bg-gray-800 dark:border-gray-700">
  <%== pagy_info(pagy) if pagy.pages > 1 %>
  <%== pagy_nav(pagy) if pagy.pages > 1 %>
</div>
