/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Rubik Variable Font */
@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Latin-Normal.woff2') format('woff2');
    font-weight: 300 900;
    font-style: normal;
}

/* Rubik Variable Italic Font */
@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Latin-Italic.woff2') format('woff2');
    font-weight: 300 900;
    font-style: italic;
}

/* Open Sans Variable Font */
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Latin-Normal.woff2') format('woff2');
    font-weight: 300 800;
    font-style: normal;
}

/* Open Sans Variable Italic Font */
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Latin-Italic.woff2') format('woff2');
    font-weight: 300 800;
    font-style: italic;
}

/* Aplicación de las fuentes */
h1, h2, h3, h4, h5, h6, .app-title {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}
